<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>外卖下单系统</title>
	<link rel="stylesheet" href="/css/style.css" media="screen" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="/js/jquery.shop.js"></script>
</head>
<body>
	<div class="htmleaf-container">
		<header class="htmleaf-header">
			<h1>外卖下单系统 V1.0 <span></span></h1>
			
		</header>