<% include ./partials/client_navbor.ejs %>

		<div id="site">
		<h2>菜品选择页面</h2>
		<div id="content">
			<div id="products">
				<ul>
					<li>
						<div class="product-image">
							<img src="images/wine1.jpg" alt="" />
						</div>
						<div class="product-description" data-name="麻辣香锅" data-price="25">
							<h3 class="product-name">麻辣香锅</h3>
							<p class="product-price">￥ 25</p>
							<form class="add-to-cart" action="cart" method="post">
								<div>
									<label for="qty-1">Quantity</label>
									<input type="text" name="qty-1" id="qty-1" class="qty" value="1" />
								</div>
								<p><input type="submit" value="Add to cart" class="btn" /></p>
							</form>
						</div>
					</li>
					
					<li>
						<div class="product-image">
							<img src="images/wine2.jpg" alt="" />
						</div>
						<div class="product-description" data-name="油条" data-price="1">
							<h3 class="product-name">油条</h3>
							<p class="product-price">￥ 1</p>
							<form class="add-to-cart" action="cart" method="post">
								<div>
									<label for="qty-2">Quantity</label>
									<input type="text" name="qty-2" id="qty-2" class="qty" value="1" />
								</div>
								<p><input type="submit" value="Add to cart" class="btn" /></p>
							</form>
						</div>
					</li>
					
					<li>
						<div class="product-image">
							<img src="images/wine3.jpg" alt="" />
						</div>
						<div class="product-description" data-name="山西刀削面" data-price="11">
							<h3 class="product-name">山西刀削面</h3>
							<p class="product-price">￥ 11</p>
							<form class="add-to-cart" action="cart" method="post">
								<div>
									<label for="qty-3">Quantity</label>
									<input type="text" name="qty-3" id="qty-3" class="qty" value="1" />
								</div>
								<p><input type="submit" value="Add to cart" class="btn" /></p>
							</form>
						</div>
					</li>

					<!-- <li>
						<div class="product-image">
							<img src="images/wine3.jpg" alt="" />
						</div>
						<div class="product-description" data-name="陕西biangbiang面" data-price="15">
							<h3 class="product-name">陕西biangbiang面</h3>
							<p class="product-price">￥ 15</p>
							<form class="add-to-cart" action="cart" method="post">
								<div>
									<label for="qty-3">Quantity</label>
									<input type="text" name="qty-3" id="qty-3" class="qty" value="1" />
								</div>
								<p><input type="submit" value="Add to cart" class="btn" /></p>
							</form>
						</div>
					</li>


					<li>
						<div class="product-image">
							<img src="images/wine1.jpg" alt="" />
						</div>
						<div class="product-description" data-name="桂林米粉" data-price="18">
							<h3 class="product-name">桂林米粉</h3>
							<p class="product-price">￥ 18</p>
							<form class="add-to-cart" action="cart" method="post">
								<div>
									<label for="qty-3">Quantity</label>
									<input type="text" name="qty-3" id="qty-3" class="qty" value="1" />
								</div>
								<p><input type="submit" value="Add to cart" class="btn" /></p>
							</form>
						</div>
					</li> -->



				</ul>
			</div>
		</div>
	</div>
	</div>
</body>
</html>