<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
        <title>CLoud MQ Client</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="css/default_index.css" />
		<link rel="stylesheet" type="text/css" href="css/component_index.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<h1>外卖下单系统 V1.0</h1>
			</header>	
			<div class="main">
				<ul class="cbp-ig-grid">
					<li>
						<a href="/client">
							<span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
							<h3 class="cbp-ig-title">客户侧</h3>
							<span class="cbp-ig-category">负责下单及订单生成</span>
						</a>
					</li>
					<li>
						<a href="/server">
							<span class="cbp-ig-icon cbp-ig-icon-milk"></span>
							<h3 class="cbp-ig-title">商户侧</h3>
							<span class="cbp-ig-category">为商家展示订单状态</span>
						</a>
					</li>
					<li>
						<a href="/complete">
							<span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
							<h3 class="cbp-ig-title">骑手侧</h3>
							<span class="cbp-ig-category">负责完成订单</span>
						</a>
					</li>
					<!-- <li>
						<a href="http://www.htmleaf.com/">
							<span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
							<h3 class="cbp-ig-title">Commodo</h3>
							<span class="cbp-ig-category">Food</span>
						</a>
					</li>
					<li>
						<a href="http://www.htmleaf.com/">
							<span class="cbp-ig-icon cbp-ig-icon-spectacles"></span>
							<h3 class="cbp-ig-title">Bitters kitsch</h3>
							<span class="cbp-ig-category">Gadgets</span>
						</a>
					</li>
					<li>
						<a href="http://www.htmleaf.com/">
							<span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
							<h3 class="cbp-ig-title">Austin proident</h3>
							<span class="cbp-ig-category">Music</span>
						</a>
					</li> -->
				</ul>
			</div>
		</div>
	</body>
</html>

